# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
_ReSharper*
# mstest test results
TestResults
/sharpshell

/Sshfs/Sshfs/publish
/FreeTDS-0.91.98-x86.zip
/README.zip
/Dokan
/bluescreenview
/Sshfs/Sshfs/Properties/AssemblyInfo.cs.bak
