<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Sshfs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
  
<system.runtime.caching>
  <memoryCache>
    <namedCaches>
      <add name="Default" cacheMemoryLimitMegabytes="100" physicalMemoryLimitPercentage="0" pollingInterval="00:05:00"/>
    </namedCaches>
  </memoryCache>
</system.runtime.caching>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <applicationSettings>
        <Sshfs.Properties.Settings>
            <setting name="AttributeCacheTimeout" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DirContentCacheTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UseOfflineAttribute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNetworkDrive" serializeAs="String">
                <value>False</value>
            </setting>
        </Sshfs.Properties.Settings>
    </applicationSettings>
</configuration>
